<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户注册</title>
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css" type="text/css">

</head>

<style type="text/css">
	body{
	  background-image: url(../img/iowa.png);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		 background-size:100%;
	}

	div.transbox{
		border-radius: 15px;
		width:500px;
		height:550px;
		background-color:#ffffff;
		opacity:0.85;
		filter:alpha(opacity=60); /* IE8 及更早版本 */
	}

	div.inside{
		margin:10px;
		outline-offset:15px;
	}

  .error {color: #FF0000;}
</style>

<body>
  <div class="container" style="padding: 150px 350px 50px;">
    <div class="transbox">
     <div class="inside">
    <div class="page-header" >
    </br>
      <h1 align="center" style="font-family:	Microsoft YaHei">管理员注册</h1>
    </div>
    <form class="form-signin" role="form" action="../php/adRegister.php" method="POST">
    <div>
      <p style="font-family:Microsoft YaHei">管理员用户名</p>
      <input type="text" class="form-control" name="adname" placeholder="管理员用户名" required ><br/>
      <p style="font-family:Microsoft YaHei">管理员号码</p>
      <input type="text" class="form-control" name="adaccount" placeholder="管理员号码" required >
      <span class="error"> </span><br/>
      <p style="font-family:Microsoft YaHei">管理员账号密码</p>
      <input type="password" class="form-control" name="adpwd" placeholder="账号密码" required>
      <span class="error"></span><br/>
      <p style="font-family:Microsoft YaHei">确认密码</p>
      <input type="password" class="form-control" name="radpwd" placeholder="确认密码" required><br/>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="adr_submit">注册</button>
    <a href="adLogin.html" align="right">已有管理员账号,直接登录</a>
    </form>
  </div>
  </div>
  </div>
   
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
</body>
</html>
