<ul class="nav navbar-nav navbar-right">
          <li><a href="adProfile.php" style="font-family:Microsoft YaHei">修改个人信息</a></li>
          <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" style="font-family:Microsoft YaHei" href="">
			房间管理 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="roomadminadd.php">增加房间</a></li>
			<li><a href="roomadmindel.php">删除/修改房间</a></li>
		</ul>
	</li>
          <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" style="font-family:Microsoft YaHei" href="">
			会员管理 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="useradminadd.php">增加会员</a></li>
			<li><a href="useradmindel.php">删除/修改会员</a></li>
		</ul>
	</li>
         
       
	          <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" style="font-family:Microsoft YaHei" href="">
			管理员管理 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="adminadd.php">增加管理员</a></li>
			<li><a href="admindel.php">删除/修改管理员</a></li>
		</ul>
	</li>
  <li><a href="../php/adLogoff.php" style="font-family:Microsoft YaHei">注销</a></li>
</ul>