<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>房间预订</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-datetimepicker.min.css" type="text/css">
 
</head>

<script>
   $(function () { $('#myModal').modal('hide')});
</script>

<style>
.error {color: #FF0000;}
</style>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="welcome.html">
            <span class="glyphicon glyphicon-home" aria-hidden="true"> 影子宾馆</span>
          </a>
        </div>

			<!-- Collect the nav links, forms, and other content for toggling -->

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="userProfile.html" style="font-family:Microsoft YaHei">会员个人信息</a></li>
          <li><a href="roomList.html" style="font-family:Microsoft YaHei">房间信息查询</a></li>
          <li><a href="reservation.html" style="font-family:Microsoft YaHei">房间预订</a></li>
          <li><a href="myOrder.html" style="font-family:Microsoft YaHei">我的订单</a></li>
          <li><a href="../php/userLogoff.php" style="font-family:Microsoft YaHei">注销</a></li>
        </ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

  <!-- 
    若上个页面，用户选择使用新住客信息
    则进入
    步骤一:录入住客信息
    form表的信息，通过php文件，添加入customer表
    同时，form表的部分信息或者全部信息，存入session变量
    用于之后bill表信息的添加
   -->

  <div class="container">
     <div class="jumbotron">
          <h1 style="font-family:Microsoft YaHei">支付订单</h1>
      </div>
      <div>
        <form class="form-signin" role="form" action="" method="POST">
        <div class="page-header" style="padding: 0px 200px;">
          <h1 style="font-family:Microsoft YaHei;font-size:20px">步骤三：扫码支付</h1>
          <h1 style="font-family:Microsoft YaHei;font-size:20px">您需要支付的订单金额为：<h1 style="font-family:Microsoft YaHei;font-size:20px" id="money">元</h1></h1>
        </div>
        <div style="padding: 0px 350px;">
             <img src="../img/payment.jpg" alt="..."></br>
             <h1 style="font-family:Microsoft YaHei;font-size:20px"><a href="welcome.html">已完成支付，点击跳转至主页</a></h1>
        </div>
        </form>

      </div>

  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <script type="text/javascript" src="../../assets/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../../assets/money.js"></script>
</body>
</html>
