<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>房间查询</title>
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css" type="text/css">
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="welcome.html">
            <span class="glyphicon glyphicon-home" aria-hidden="true"> 影子宾馆</span>
          </a>
        </div>

			<!-- Collect the nav links, forms, and other content for toggling -->

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
          <li><a href="userProfile.html" style="font-family:Microsoft YaHei">会员个人信息</a></li>
          <li><a href="roomList.html" style="font-family:Microsoft YaHei">房间信息查询</a></li>
          <li><a href="reservation.html" style="font-family:Microsoft YaHei">房间预订</a></li>
          <li><a href="myOrder.html" style="font-family:Microsoft YaHei">我的订单</a></li>
          <li><a href="../php/userLogoff.php" style="font-family:Microsoft YaHei">注销</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

  <div class="container">
     <div class="jumbotron">
          <h1 style="font-family:Microsoft YaHei">欢迎使用房间信息查询！</h1>
      </div>

    <div class="container" style="padding: 0px 300px 0px 300px">
      <div class="page-header" >
        <h1 align="center" style="font-family:	Microsoft YaHei">房间信息查找</h1>
      </div>

    <div>

      <div class = "form-group">
       <label for = "location">房间楼层</label>
       <select id = "location" class = "form-control" name="location">
        <option value="一层">一层</option>
        <option value="二层">二层</option>
        <option value="三层">三层</option>
        <option value="所有楼层">所有楼层</option>
       </select>
      </div>

      <div class = "form-group">
       <label for = "type">房间类型</label>
       <select id = "type" class = "form-control" name="type">
        <option  value="豪华大床房">豪华大床房</option>
        <option  value="精选大床房">精选大床房</option>
        <option  value="豪华双床房">豪华双床房</option>
        <option  value="商务双床房">商务双床房</option>
        <option  value="豪华套房">豪华套房</option>
        <option  value="总统套房">总统套房</option>
        <option  value="类型不限">类型不限</option>
       </select>
      </div>

      <div class = "form-group">
       <label for = "status">房间状态</label>
       <select id = "status" class = "form-control" name="status">
        <option value="空闲">空闲</option>
        <option value="状态不限">状态不限</option>
       </select>
      </div>

      </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="submit_search" name="submit_s">查找</button>
        
      </div>

  <br/>
  <br/>

      <div class="table-responsive">
        <table class="table table-striped">
          <caption>房间信息</caption>
          <thead>
            <tr>
              <th>房间号</th>
              <th>房间类型</th>
              <th>所在楼层</th>
              <th>房间价格</th>
              <th>房间状态</th>
              <th>立即预定</th>
            </tr>
          </thead>
          <tbody id = "J_TbData">
            
          </tbody>
        </table>
      </div>
  </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../assets/js/roomlist.js"></script>
  <script>
   $(function () { $('#myModal').modal('hide')});
</script>
</body>
</html>

