<!DOCTYPE html>
<script>

	function Delete(id)
	{
		$.post(
		"delete.php",
		 {id:id},
		 function(data){

			 if(data==2){
				 alert("删除成功！");
				 self.location='myOrder.php';
			 }

			 if(data==1){
				alert("删除失败！未找到此房间信息");
				self.location='myOrder.php';
			}

			if(data==0){
				alert("删除成功！连接数据库失败！");
				self.location='myOrder.php';
			}
		 }
		);
	}
</script>

<html>
<head>
	<meta charset="utf-8">
	<title>我的订单</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
  <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="font-family:Microsoft YaHei" href="welcome.html">影子宾馆</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="userProfile.html" style="font-family:Microsoft YaHei">会员个人信息</a></li>
					<li><a href="roomList.html" style="font-family:Microsoft YaHei">房间信息查询</a></li>
					<li><a href="reservation.html" style="font-family:Microsoft YaHei">房间预订</a></li>
					<li><a href="myOrder.html" style="font-family:Microsoft YaHei">我的订单</a></li>
					<li><a href="userLogoff.php" style="font-family:Microsoft YaHei">注销</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
	</nav>

	  <div class="container" style="font-family:Microsoft YaHei;">
			<div class="table-responsive">
				<table class="table">
					<caption><h2 align="center">我的订单信息</h2></caption>
					<thead>
						<tr>
							<th>房间号</th>
							<th>住客身份证号</th>
							<th>预付款</th>
							<th>入住日期</th>
							<th>退房日期</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

			<div class="container" style="padding: 0px 350px 0px 350px">
				<div class="page-header" >
					<h1 align="center" style="font-family:	Microsoft YaHei">取消订单</h1>
				</div>
			<form class="form-signin" role="form" action="" method="POST">
			<div>

				<div class = "form-group">
				 <label for = "floor">房间号</label>
				 <input type="text" class="form-control" name="deleteby_rid" placeholder="房间号" required >
				 <span class="error"></span><br/>
				</div>

				</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="submit_delete">取消订单</button>
					</form>
				</div>
	</div>
