<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>新版登录页面</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  </head>

  <script>
  function Herf(obj){

    if(obj.name=="c_login"){
      self.location='userLogin.html';
    }

    if(obj.name=="ad_login"){
      self.location='adLogin.html';
    }

    if(obj.name=="c_register"){
      self.location='userRegister.html';
    }

  }
  </script>

	<style type="text/css">
	body {
	  background-image: url(../img/kx.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		 background-size:100%;
	}
	div.transbox
	{
		border-radius: 15px;
	  width:300px;
	  height:450px;
	  background-color:#ffffff;
	  opacity:0.85;
	  filter:alpha(opacity=60); /* IE8 及更早版本 */
	}

	div.inside
	{
		margin:20px;
		outline-offset:15px;
	}

  img.logo{
    border-radius: 15px;
  }
 </style>

  <body>
    <div class="container" style="padding: 200px 450px 150px;font-family:Microsoft YaHei;">
		 <div class="transbox">
			<div class="inside">
      <form class="form-signin" role="form" action="" method="POST">
			</br>
      <h3 class="form-signin-heading" align="center">影子宾馆</h3>
				<h2 class="form-signin-heading" align="center">
          <img src="../img/eugen.jpg"  class="logo" alt="...">
        </h2>
      </br>
        <button class="btn btn-lg btn-primary btn-block" type="button" name="c_login" onclick="Herf(this)">会员登录</button>
        <button class="btn btn-lg btn-success btn-block" type="button" name="ad_login" onclick="Herf(this)">管理员登录</button>
        <button class="btn btn-lg btn-info btn-block" type="button" name="c_register" onclick="Herf(this)">立即注册会员</button>
      </form>
			</div>
			</div>
    </div>
  </body>
</html>
