<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>影子宾馆首页</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
  <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>

<style>
.error {color: #FF0000;}
</style>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="font-family:Microsoft YaHei" href="welcome.html">影子宾馆</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="userProfile.html" style="font-family:Microsoft YaHei">会员个人信息</a></li>
					<li><a href="roomList.html" style="font-family:Microsoft YaHei">房间信息查询</a></li>
					<li><a href="reservation.html" style="font-family:Microsoft YaHei">房间预订</a></li>
					<li><a href="myOrder.html" style="font-family:Microsoft YaHei">我的订单</a></li>
					<li><a href="userLogoff.php" style="font-family:Microsoft YaHei">注销</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

  <div class="container">
     <div class="jumbotron">
          <h1 style="font-family:Microsoft YaHei">尊敬的旅客，欢迎来到影子宾馆<small></small></h1>
      </div>

      <div>
        <div class="page-header" style="padding: 0px 150px;">
          <h1 style="font-family:Microsoft YaHei;font-size:20px">个人信息</h1>
        </div>
        <div style="padding: 0px 300px;">
        <ul class="list-group">
          <li class="list-group-item" style="font-family:Microsoft YaHei">会员账号: </li><br/>
          <li class="list-group-item" style="font-family:Microsoft YaHei">姓名: </li><br/>
          <li class="list-group-item" style="font-family:Microsoft YaHei">密码: </li><br/>
        </ul>
        </div>
      </div>

      <div>
        <div class="page-header" style="padding: 0px 150px;">
          <h1 style="font-family:Microsoft YaHei;font-size:20px">修改个人信息</h1>
        </div>
        <form class="form-signin" role="form" action="" method="POST">
        <div style="padding: 0px 300px;">
          <p style="font-family:Microsoft YaHei">会员账号</p>
          <input type="text" class="form-control" name="aduaccount_c" value="" required ><br/>
          <p style="font-family:Microsoft YaHei">姓名</p>
          <input type="text" class="form-control" name="aduname_c" value="" required ><br/>
          <p style="font-family:Microsoft YaHei">新密码</p>
          <input type="password" class="form-control" name="adupwd_c" placeholder="账号密码" required>
          <span class="error"></span><br/>
          <p style="font-family:Microsoft YaHei">确认密码</p>
          <input type="password" class="form-control" name="radupwd_c" placeholder="确认密码" required><br/>
          <button class="btn btn-lg btn-primary btn-block" type="submit" name="uc_submit">提交</button>
        </div>
        </form>
      </div>
</body>
</html>
